ConnectionStrings__DefaultConnection=Host=aws-0-<region>.pooler.supabase.com;Port=5432;Database=postgres;Username=postgres.yqayiyhixfjyhkykbbsa;Password=YOUR_DB_PASSWORD;SSL Mode=Require;Trust Server Certificate=true

SupabaseJwtSettings__Authority=https://yqayiyhixfjyhkykbbsa.supabase.co/auth/v1

ASPNETCORE_ENVIRONMENT=Development
